/* css contenuti */
#contenuto {
	height: 800px;
	background-color: #F4F4E2;
	font: 13px/20px Arial, sans-serif;
	color: #471F1F;
	}

#formricetta {
	position: relative;
	left:25%;
	top: 25%;
	}

#content {
	position: relative;
	margin-left: 45%;
	top: 40%;
	}
.tabtit {
	position: relative;
	bottom: 30px;
}

#homeut{
	position: relative;
	margin-left: 20%;
	top: 20%;
	}
/*--------------------------*/
li {
	list-style-type: circle;
	font-size: 1.1em;
	}
th {
	position: relative;
	bottom: 14px;
	right: 8px;
	font-size: 1.7em;
	}
td {
	font-size: 1.2em;
	}

/*css per l'header*/
#header {
	background-color: #471F1F;
	color: white;
	font: 3em Arial;
	text-align: center;
	}
/*----------------------------*/


/*css per link*/
a:active {
	font-style: italic;
	}
a:link {
	color: white;
	}
a:visited {
	color: white;
	text-decoration: none;
	}
a:hover {
	font-weight: bold;
	}
/*----------------------------*/


/* css per la sidebar sinistra*/
#sidebar {
	position: relative;
	width: 12%;
	color: white;
	background-color: #471F1F;
    float: left;
    height: 100%;
	}
.sidetitle {
	position: relative;
	left: 30px;
	top: 12px;
	}
.naviglist{
	position: relative;
	top: 7px;
	}
/*----------------------------*/


/*css per la sidebar destra*/
#sidebar2 {
	position: relative;
	width: 12%;
	color: white;
	background-color: #471F1F;
    float: right;
    height: 100%;
	}
/*----------------------------*/


/*css per il footer*/
#footer {
	background-color: #471F1F;
	height: 150px;
	text-align: center;
	color: white;
	}
.linkfooter {
	position: relative;
	top: 40%;
	}
/*----------------------------*/

