#contenuto {
	height: 800px;
	background-color: white;
	font: 13px/20px Arial, sans-serif;
	color: #471F1F;
	}


li {
	list-style-type: circle;
	}


/*css per l'header*/
#header {
	background-color: #471F1F;
	color: white;
	font: 3em Arial;
	text-align: center;
	}
/*----------------------------*/


/*css per link*/
a:active {
	font-style: italic;
	}
a:link {
	color: white;
	}
a:visited {
	color: white;
	text-decoration: none;
	}
a:hover {
	font-weight: bold;
	}
/*----------------------------*/


/* css per la sidebar sinistra*/
#sidebar {
	width: 10%;
	color: white;
	background-color: #471F1F;
    float: left;
    height: 100%;
	}
.sidetitle {
	position: relative;
	left: 30px;
	top: 12px;
	}
#naviglist{
	position: relative;
	top: 7px;
	}
/*----------------------------*/


/*css per la sidebar destra*/
#sidebar2 {
	width: 10%;
	color: white;
	background-color: #471F1F;
    float: right;
    height: 100%;
	}
/*----------------------------*/


/*css per il footer*/
#footer {
	background-color: #471F1F;
	height: 120px;
	text-align: center;
	color: white;
	}
/*----------------------------*/

