body {
	background-color: white;
	font: 13px/20px Arial, sans-serif;
	}

h1 {
	color: #1CBD3C;
	font: 30px Arial;
	}

/*css per link*/
a:visited {
	color: #7C1AC6;
	}
a:hover {
	font-weight: bold;
	}

li {
	list-style-type: circle;
	}


#sidebar {
    float: left;
	}

#formlog {
	margin-left: 21%;
        margin-right: 21%;
        padding-bottom: 10px;
        padding-left: 10px;
        min-height: 300px;

    }